        <% @res.each do |res| %>
        <% if @sel == 2 %>
        <div class="song-content">
            <% tr = TrackRelation.where(song_id: res.id).first %>
            <% product = Product.find(tr.disc.product_id) %>
            <%= attachment_image_tag product, :image, :fill, 200, 200 %><br>
            <%= link_to res.name, song_path(res), style:"font-size: 18px" %><br>
            <%= tr.artist.name %>
        </div>
        <% else %>
        <div class="song-content">
            <% tr = TrackRelation.where(song_id: res[:id]).first %>
            <% product = Product.find(tr.disc.product_id) %>
            <%= attachment_image_tag product, :image, :fill, 200, 200 %><br>
            <%= link_to res[:name], song_path(res[:id]), style:"font-size: 18px" %><br>
            <%= tr.artist.name %>
        </div>
        <% end %>

    <% end %>
