<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    .sign-header{
      height: 100px;
      background-color: #444;
      text-align: center;
      color:white;
      font-size: 80px;
    }
    .field{
      margin: 30px 0;
    }
    main{
      width:60%;
      margin: 0 auto;
    }
    .fields{
      width:70%;
      margin:0 auto;
    }

    .sign-title{
      text-align: center;
      font-size: 48px;
    }


  </style>
</head>
<body>
  <div class="sign-header">Likely</div>
  <main>
    <h2 class="sign-title">Sign up</h2><hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="fields">
        <div class="field">
          <%= f.label :"Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <%= link_to "Do you have an account?", new_session_path(resource_name) %><br />
      </div>
    <% end %>
  </main>

</body>
</html>