
<div class="container">
	<ol class="breadcrumb mt mb">
		<li><%=link_to "Top","#" %></li>
		<li>
			<%=link_to genre_path(@track.disc.product.genre.id) do %>
				<span><%= @track.disc.product.genre.name %></span>
			<% end %>
		</li>
		<li class="active">
			<%= @track.song.name %>
		</li>
	</ol>
	<div class="row">
		<div class="col-xs-1" ></div>
		<div class="col-xs-4">
			<%= attachment_image_tag @track.disc.product, :image, fallback: "no_image.png", size: "300x300" %>
		</div>
		<div class="col-xs-6">
			<h2><p class="small">song name</p><%= @track.song.name %></h2><hr>
			<h2><p class="small">artist name</p><%= @track.song.artist.name %></h2><hr>
		</div>
		<div class="col-xs-1" ></div>
	</div>
	<% @products.each do |product| %>
		<table class="product-head">
			<thead>
				<th class="col-xs-6"><h3 class="show-h-margin-fix"><p class="small">product name</p><%= product.name %></h3></th>
				<th class="col-xs-2"><h4 class="show-h-margin-fix">¥ <%= product.price.to_s(:delimited) %></h4></th>
				<% if product.stock == 0 %>
					<th class="col-xs-4"><h4 class="text-danger show-h-margin-fix">売り切れ</h4></th>
				<% else %>
					<th class="col-xs-1"><h4 class="text-info show-h-margin-fix">在庫あり</h4></th>
					<th class="col-xs-3">
						<%= form_with url: add_cartdetail_path(product.id), method: :post, class:"form-inline" do |f| %>
							<div class="form-group">
								<% if product.stock > 6 %>
									<%= f.label :number, "個数" %>
									<%= f.select :number, options_for_select(1..6), {}, class:"form-control" %>
								<% else %>
									<%= f.label :number, "個数" %>
									<%= f.select :number, options_for_select(1..product.stock), {},class:"form-control" %>
								<% end %>
							</div>
							<%= f.submit "カートに入れる", :class=>"btn btn-primary pull-right"%>
						<% end %>
					</th>
				<% end %>
			</thead>
		</table>
		<table class="product-content">
			<% product.discs.each do |disc| %>
				<thead>
					<th><p class="lead">Disc <%= disc.disc_order %></p></th>
				</thead>
				<tbody>
				<% disc.track_relations.order("track_order").each do |track| %>
					<tr>
						<td class="col-xs-1 text-center"><%= track.track_order %></td>
						<td class="col-xs-3"><%= track.song.name %></td>
						<td class="col-xs-1"><input type="button" value="試聴" class="btn btn-primary btn-xs audition"/><%= audio_tag(track.song.file.url) %></td>
						<td class="col-xs-7"></td>
					</tr>
				<% end %>
				</tbody>
			<% end %>
		</table>
	<% end %>
</div>

<script>
	$(".audition").on('click', (e)=>{
		// jqueryでも次の要素取得できるけど, jqueryだとaudio_tagの扱いが特別らしい
		// なので、pure jsで記述

		let target = $(e.target)
		target.removeClass("btn-primary")
		target.addClass("btn-danger")

		let audio = e.target.nextElementSibling
		audio.volume = 0
		audio.play()

		// 再生の頭と終わりのボリューム調整
		audio.addEventListener("timeupdate", ()=>{
			if(audio.currentTime > audio.duration*0.4 && audio.volume > 0){

				// 小数の調整(入れないと0.49999とかになって死ぬ)
				audio.volume = Math.round(audio.volume*100)/100
				if(audio.volume >= 0.1)audio.volume -= 0.1

				if(audio.volume == 0 && audio.play){
					audio.pause()
					audio.currentTime = 0
					target.removeClass("btn-danger")
					target.addClass("btn-primary")
				}
			} else if (audio.volume < 1){
				audio.volume += 0.25
			}
		})

		// end時に再生位置を頭に修正
		audio.addEventListener("ended", ()=>{
			audio.currentTime = 0
			target.removeClass("btn-danger")
			target.addClass("btn-primary")
		})
	})
</script>