<%= form_for [:admin, var], class="" do |f| %>
	<div class="form-group">
		<label> name</label>
		<%= f.label :name, "" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<% if request.path_info == edit_admin_artist_path %>
		<div class="form-group">
			<%= f.label :name_kana, "フリガナ" %>
			<%= f.text_field :name_kana, class: "form-control" %>
		</div>
	<% end %>
	
	<% if request.path_info == edit_admin_artist_path || request.path_info == edit_admin_genre_path %>
		<div class="form-group">
			<%= f.label :image %>
			<%= f.attachment_field :image, class: "form-control" %>
			<%= attachment_image_tag var, :image, size:"150x100"%>
		</div>
	<% end %>
	
	<%= f.submit "Submit", class: "btn btn-default mt" %>
<% end %>