<%= form_for [:admin, var] do |f| %>
	<label> name</label>
	<%= f.text_field :name %>
	<% if request.path_info == edit_admin_artist_path %>
		<label> name(カナ)</label>
		<%= f.text_field :name_kana %>
	<% end %>
	<% if request.path_info == edit_admin_artist_path || request.path_info == edit_admin_genre_path %>
		<%= attachment_image_tag var, :image, :fill, 150, 100, format: 'jpeg' %>
		<%= f.attachment_field :image %>
	<% end %>
	<%= f.submit "Submit" %>
<% end %>