<%= form_for [:admin, var] do |f| %>
	<label> name</label><br>
	<%= f.text_field :name %><br><br>
	<% if request.path_info == edit_admin_artist_path %>
		<label> name(カナ)</label><br>
		<%= f.text_field :name_kana %><br><br>
	<% end %>
	<% if request.path_info == edit_admin_artist_path || request.path_info == edit_admin_genre_path %>
		<label> 画像編集</label><br>
		<%= attachment_image_tag var, :image, :fill, 150, 100, format: 'jpeg' %>
		<%= f.attachment_field :image %><br>
	<% end %>
	<%= f.submit "Submit" %>
<% end %>