<%= form_for [:admin, var] do |f| %>
	<div class="form-group mb">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<% if request.path_info == admin_artists_path %>
		<div class="form-group mb">
			<%= f.label :name_kana, "フリガナ" %>
			<%= f.text_field :name_kana, class: "form-control" %>
		</div>
	<% end %>

	<% if request.path_info == admin_artists_path || request.path_info == admin_genres_path %>
		<div class="form-group">
			<%= f.label :image %>
			<%= f.attachment_field :image, class: "form-control" %>
		</div>
	<% end %>
	<%= f.submit "Submit", class: "btn btn-default mt" %>
<% end %>