<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<h4>レーベル登録</h4>
			<%= render 'admin/registration', var: @label %>
		</div>
		<div class="col-lg-9 col-md-9">
			<h4> レーベル一覧</h4>
			<table>
				<tr>
					<td style="width: 200px"> name</td>
					<td style="width: 50px"></td>
					<td style="width: 50px"></td>
				</tr>
				<% @labels.each do |label| %>
					<tr>
						<td> <%= label.name %></td>
						<td> <%= link_to "編集", edit_admin_label_path(label) %></td>
						<td> <%= link_to "削除", admin_label_path(label), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
					</tr>
				<% end %>
			</table>
			<%= paginate @labels, class: "paginate" %>
		</div>
	</div>
</div>