<div class="row">
	<div class="col-lg-3 col-md-3">
		<h4>レーベル登録</h4>
		<%= render 'admin/registration', var: @label %>
	</div>
	<div class="col-lg-9 col-md-9">
		<h4> レーベル一覧</h4>
		<table class="table">
			<tr>
				<td style="width: 200px"> name</td>
				<td style="width: 50px"></td>
				<td style="width: 50px"></td>
			</tr>
			<% @labels.each do |label| %>
				<tr>
					<td> <%= link_to label.name, admin_label_path(label) %></td>
					<td> <%= link_to edit_admin_label_path(label) do %> <button type="button" class="btn btn-success btn-xs">編集</button><% end %></td>
					<td> <%= link_to admin_label_path(label), method: :delete, "data-confirm" => "本当に削除しますか？" do %> <button type="button" class="btn btn-danger btn-xs">削除</button><% end %></td>
				</tr>
			<% end %>
		</table>
		<%= paginate @labels, class: "paginate" %>
	</div>
</div>