<sytle>
</sytle>
<main>
	<table class="table table-bordered">
    <thead>
        <tr>
            <th>お問い合わせい日時</th>
            <th>返信</th>
            <th>お問い合わせ者名</th>
            <th>タイトル</th>
            <th>会員状態</th>
        </tr>
    </thead>
    <tbody>
    	<% @contacts.each do |contact| %>
	        <tr>
				<td><%= contact.created_at.strftime("%Y/%m/%d %H:%M") %></td>
				<td><%= contact.reply_status == false ? "未" : "済" %></td>
				<td>
					<% if contact.user_id.blank? %>
						<%= @no_members.find_by(id: contact.non_member_id).name %>
					<% else %>
						<%= contact.user.name %>
					<% end %>
				</td>
				<td><%= contact.title %></td>
				<td><%= contact.user_id.blank? ? "非会員" : "会員" %></td>
				<td>
					<%= link_to admin_contact_path(contact.id) do %>
						<button type="button" class="btn btn-success btn-xs">返信</button>
					<% end %>
				</td>
	        </tr>
        <% end %>
    </tbody>
</table>
</main>