<div class="row">
	<div class="col-xs-6 col-xs-offset-3 mb mt">
		<h3 class="mt mb">問合せ内容</h3><hr>
		<p>問合せ日時: <%= @contact.created_at.strftime("%Y/%m/%d %H:%M") %></p>
		<p>タイトル: <%= @contact.title %></p>
		<p class="lead"><%= @contact.body %></p>
	</div>

	<div class="col-xs-6 col-xs-offset-3 mb mt">
		<h3 class="mt mb">返信</h3><hr>
		<%= form_for @contact, url: admin_contact_path, method: :patch do |f| %>
			<div class="form-group">
				<%= f.lable :title, "タイトル" %>
				<%= f.text_field :title, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.lable :body, "内容" %>
				<%= f.text_area :body, class: "form-control" %>
			</div>
			
			<div>
				<%= f.submit, class: "btn btn-default"%>
			</div>
		<% end %>
	</div>
</div>



