<main class="contact">
  <h2 class="contact-title">Contact</h2><hr>
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
  <% if user_signed_in? %>
    <%= form_for (@contact) do |f| %>
      <div class="contact-field">
        <div class="contact-fields">
          <%= f.label :"タイトル" %><br />
          <%= f.text_field :title, class: "contact-field-sm" %>
        </div>
        <div class="contact-fields">
          <%= f.label :"お問い合わせ内容" %><br />
          <%= f.text_area :body, class: "contact-field-lg" %>
        </div>
        <div class="contact-actions">
          <%= f.submit "問い合わせる", class:"actions-block" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= form_for @contact do |f| %>
      <div class="contact-field">
       <%= fields_for @non_member do |nf| %>
        <div class="contact-fields">
          <%= f.label :"名前"  %><br>
          <%= nf.text_field :name, class: "contact-field-sm"  %>
        </div>
        <div class="contact-fields">
          <%= f.label :"Email"  %><br>
          <%= nf.email_field :email, class: "contact-field-sm"  %>
        </div>
       <% end %>
        <div class="contact-fields">
          <%= f.label :"タイトル" %><br />
          <%= f.text_field :title, class: "contact-field-sm" %>
        </div>
        <div class="contact-fields">
          <%= f.label :"お問い合わせ内容" %><br />
          <%= f.text_area :body, class: "contact-field-lg" %>
        </div>
        <div class="contact-actions">
          <%= f.submit "問い合わせる", class:"actions-block" %>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
