<div class="container mb mt">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h3 class="text-center">Contact</h3><hr>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <% if user_signed_in? %>
        <%= form_for (@contact) do |f| %>
            <div class="form-group">
              <%= f.label :title, "題名" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :body, "内容" %>
              <%= f.text_area :body, class: "form-control" %>
            </div>
            <div class="contact-actions">
              <%= f.submit "問い合わせる", class:"actions-block btn btn-default" %>
            </div>

        <% end %>
      <% else %>
        <%= form_for @contact do |f| %>
          <%= fields_for @non_member do |nf| %>
            <div class="form-group">
              <%= f.label :name, "名前" %>
              <%= nf.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%= f.label :email, "E-mail"  %>
              <%= nf.email_field :email, class: "form-control"  %>
            </div>
          <% end %>
            <div class="form-group">
              <%= f.label :title, "題名" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :body, "内容" %>
              <%= f.text_area :body, class: "form-control" %>
            </div>
            <div class="contact-actions">
              <%= f.submit "問い合わせる", class:"actions-block btn btn-default" %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
