<div class="field">
    <div class='form-group'>
        <div class='col-xs-2'>
            <%= f.label :disc_order, class:'control-label' %>
        </div>
        <div class='col-xs-3'>
            <%= f.number_field :disc_order, class: 'form-control' %>
        </div>
        <div class='col-xs-5'></div>
        <div class='col-xs-2'>
            <%= link_to_remove_field("remove disc", f, {})%>
        </div>
    </div>
   
    <%= link_to_add_field("track add", f, :track_relations, {}) %>
    <table class="table">
        <thead>
            <th>Artist</th>
            <th>新規楽曲データを選択</th>
            <th>新規楽曲名</th>
            <th>既存楽曲から選択</th>
            <th></th>
        </thead>
        <tbody data-id="<%= hoge.to_s %>">
            
        </tbody>
    </table>
</div>