<div class="genre-mainimage-box">
	<%= attachment_image_tag @genre, :image, :fill, 3000, 3000, class:"genre-mainimage" %>
	<p class="genre-mainimage-comment"> <%= @genre.name %></p>
</div>

<div class="clearfix">
	<% @songs.each do |s| %>
		<% product = Product.find(s[:product_id]) %>
		<div class="song-content">
			<%= attachment_image_tag product, :image, :fill, 200, 200 %><br>
			<%= link_to s[:name], song_path(s[:id]), style:"font-size: 18px" %><br>
			<%= s[:artist] %>
		</div>
	<% end %>
	<%= paginate @songs %>
</div>