<h3 class="text-center">ユーザ情報編集</h3>

<%= form_with model: @user ,url: admin_user_path,method: :patch, class:"form-horizontal"  do |f| %>
  <div class="form-group pt pb">
    <%= f.label :"E-mail", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.email_field :email, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"氏名", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"フリガナ", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :name_kana, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"郵便番号", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :postal_code, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"都道府県", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :state, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"市区町村", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :city, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"住所", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :address, class: "form-control" %></div>
  </div>
  <div class="form-group pt pb">
    <%= f.label :"電話番号", class: "col-xs-3 control-label"  %>
    <div class="col-xs-6"><%= f.text_field :tel, class: "form-control" %></div>
  </div>
  <% if @user.id != current_user.id %>
    <div class="form-group pt pb">
      <%= f.label :"管理者権限", class: "col-xs-3 control-label"  %>
      <div class="col-xs-3"><%= f.select :admin, User.admins.keys.to_a, {}, class: "form-control" %></div>
      <div class="col-xs-6"></div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "変更", class:"btn btn-warning" %>
  </div>
  <div class="col-xs-8 col-xs-offset-2 mt mb">
    <%= link_to admin_users_path do %>
      <button type="button" class="btn btn-default pull-right">戻る</button>
    <% end %>
  </div>
<% end %>


