<h2>顧客一覧</h2>

<table class="table">
	<tr>
		<td class="col-xs-1"> 顧客ID</td>
		<td class="col-xs-2"> 氏名</td>
		<td class="col-xs-2"> 氏名カナ</td>
		<td class="col-xs-2"> 権限</td>
		<td class="col-xs-1""></td>
		<td class="col-xs-1""></td>
		<td class="col-xs-1""></td>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td> <%= user.id %></td>
			<td> <%= user.name %></td>
			<td> <%= user.name_kana %></td>
			<td> <% if user.admin %> 管理者<% else %> ユーザ<% end %></td>
			<td> <%= link_to admin_user_path(user) do %> <button type="button" class="btn btn-primary">詳細</button><% end %></td>
			<td> <%= link_to edit_admin_user_path(user) do %> <button type="button" class="btn btn-success">編集</button><% end %></td>
			<td> <%= link_to admin_user_path(user), method: :delete, "data-confirm" => "本当に削除しますか？" do %> <button type="button" class="btn btn-danger">削除</button><% end %></td>
		</tr>
	<% end %>
</table>
<%= paginate @users, class: "paginate" %>
