<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2> User詳細</h2>

			<table class="table">
				<tr>
					<td width="80px"> 氏名</td>
					<td width="160px"> <%= @user.name %></td>
				</tr>
				<tr>
					<td> 氏名カナ</td>
					<td> <%= @user.name_kana %></td>
				</tr>
				<tr>
					<td> 郵便番号</td>
					<td> <%= @user.postal_code %></td>
				</tr>
				<tr>
					<td> 住所</td>
					<td> <%= @user.address %></td>
				</tr>
				<tr>
					<td> tel</td>
					<td> <%= @user.tel %></td>
				</tr>
				<tr>
					<td> e-mail</td>
					<td> <%= @user.email %></td>
				</tr>
				<tr>
					<td> 管理者権限</td>
					<td> <% if @user.admin %> 管理者<% else %> ユーザ<% end %></td>
				</tr>
			</table>

			<hr style="margin: 60px 0">

			<h3> 注文一覧</h3>
			<table class="table">
				<tr>
					<td style="width: 100px"> 注文ID</td>
					<td style="width: 100px"> 注文日時</td>
					<td style="width: 100px"> 発送状態</td>
					<td style="width: 100px"> キャンセル状態</td>
					<td style="width: 100px"></td>
					<td style="width: 100px"></td>
				</tr>
				<% @orders.each do |order| %>
					<tr>
						<td> <%= order.id %></td>
						<td> <%= simple_time(order.created_at) %></td>
						<td>
							<%= form_for [:admin, order] do |f| %>
								<%= f.select :shipment_status, options_for_select({"準備中": 0, "発送済": 1, "到着済": 2}, order.shipment_status), {}, onchange: "javascript: this.form.submit();" %>
							<% end %>
						</td>
						<td> <% if order.cancel_request %> <span style="color: red"> キャンセル</span>
							 <% else %> 未<% end %> </td>
						<td> <%= link_to admin_order_path(order) do %> <button type="button" class="btn btn-primary btn-xs">詳細</button><% end %></td>
						<td> <%= link_to admin_order_path(order), method: :delete, "data-confirm" => "本当に削除しますか？" do %> <button type="button" class="btn btn-danger btn-xs">削除</button><% end %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>