<div class="container mt mb ">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2> User詳細</h2>

			<table class="table">
				<tr>
					<td class="col-xs-3"> 氏名</td>
					<td class="col-xs-9"> <%= @user.name %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> 氏名カナ</td>
					<td class="col-xs-9"> <%= @user.name_kana %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> 郵便番号</td>
					<td class="col-xs-9"> <%= @user.postal_code %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> 住所</td>
					<td class="col-xs-9"> <%= @user.address %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> tel</td>
					<td class="col-xs-9"> <%= @user.tel %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> e-mail</td>
					<td class="col-xs-9"> <%= @user.email %></td>
				</tr>
				<tr>
					<td class="col-xs-3"> 管理者権限</td>
					<td class="col-xs-9"> <% if @user.admin %> 管理者<% else %> ユーザ<% end %></td>
				</tr>
			</table>

			<hr style="margin: 60px 0">

			<h3> 注文一覧</h3>
			<table class="table">
				<thead>
					<th class="col-xs-2"> 注文ID</th>
					<th class="col-xs-2"> 注文日時</th>
					<th class="col-xs-2"> 発送状態</th>
					<th class="col-xs-2"> キャンセル状態</th>
					<th class="col-xs-2"></th>
					<th class="col-xs-2"></th>
				</thead>
				<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td> <%= order.id %></td>
						<td> <%= simple_time(order.created_at) %></td>
						<td>
							<%= form_for [:admin, order] do |f| %>
								<%= f.select :shipment_status, options_for_select({"準備中": 0, "発送済": 1, "到着済": 2}, order.shipment_status), {}, onchange: "javascript: this.form.submit();" %>
							<% end %>
						</td>
						<td> <% if order.cancel_request %> <span style="color: red"> キャンセル</span>
								<% else %> 未<% end %> </td>
						<td> <%= link_to admin_order_path(order) do %> <button type="button" class="btn btn-primary btn-xs">詳細</button><% end %></td>
						<td> <%= link_to admin_order_path(order), method: :delete, "data-confirm" => "本当に削除しますか？" do %> <button type="button" class="btn btn-danger btn-xs">削除</button><% end %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<div class="mt mb">
				<%=link_to "戻る", admin_users_path, class: :"btn btn-default pull-right" %>
			</div>
		</div>
	</div>
</div>
