<div class="container">
<%= form_with model: @user ,url: mypages_path,method: :patch  do |f| %>
<div class="field">
  <div class="fields">
    <%= f.label :"E-mail" %><br />
    <%= f.email_field :email, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"氏名" %><br />
    <%= f.text_field :name, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"フリガナ" %><br>
    <%= f.text_field :name_kana, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"郵便番号" %><br>
    <%= f.text_field :postal_code, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"都道府県" %><br>
    <%= f.text_field :state, class: "sign-field sign-field-sm" %>
  </div>
  <div class="fields">
    <%= f.label :"市区町村" %><br>
    <%= f.text_field :city, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"住所" %><br>
    <%= f.text_field :address, class: "sign-field sign-field-lg" %>
  </div>
  <div class="fields">
    <%= f.label :"電話番号" %><br>
    <%= f.text_field :tel, class: "sign-field sign-field-sm" %>
  </div>
  <div class="actions">
    <%= f.submit "変更", class:"actions-block" %>
  </div>
  <div>
    <%=link_to "戻る", mypages_path %>
  </div>
</div>
<% end %>
</div>