<!DOCTYPE html>
<html>
<head>
  <style>
  table{
  	margin-top: 30px;
  }
  td{
  	font-size: 20px;
  	padding-top: 15px;
  	padding-left: 100px;
  }
  .mypage-title{
  	font-size: 50px;
  	font-weight: bold;
  	padding-top: 30px;
  }
.mypage-link-box{
	margin-top: 30px;
}
.mypage-link-box .btn {
	margin-top: 20px;
	width: 200px;
}

  </style>
</head>
<div class="container">
    <div class="row">
      <div class="mypage-title">My Page</div>
        <div class="col-lg-8">
            <table>
                    <tr>
                        <td>氏名</td>
                        <td><%= @user.name %></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td><%= @user.name_kana %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td>〒<%= @user.postal_code %>
                        	&emsp;&emsp;<%= @user.state %>
                        	<%= @user.city %>
                        	<%= @user.address %>
                        </td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= @user.tel %></td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td><%= @user.email %></td>
                    </tr>
            </table>
        </div>
        <div class="col-lg-4">
          <div class="mypage-link-box">
            <%= link_to "会員情報編集", edit_mypages_path(current_user.id), class: "btn btn-default" %>
            <br>
            <%= link_to "注文履歴", orders_path(current_user.id), class: "btn btn-default" %>
            <br>
            <%= link_to "退会", user_registration_path, method: :delete, class: "btn btn-danger", data: {confirm: "本当に退会しますか？"} %>
          </div>
        </div>
    </div>
</html>