<!DOCTYPE html>
<html>
  <head>
    <title>likely - admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
	<header class="admin-header">
    <div class="admin-header-box clearfix">
    	<div class="admin-header-title"><%= link_to " Likely ", admin_path %></div>
	    <nav class="admin-header-nav">
	        <ul>
	            <li class="admin-header-nav-list"><%= link_to " Products ", admin_products_path %></li>
	            <li class="admin-header-nav-list"><%= link_to " Users ", admin_users_path %></li>
	            <li class="admin-header-nav-list"><%= link_to " Orders ", admin_orders_path %></li>
	        </ul>
	    </nav>
	</div>
	</header>
  <div class="container">
    <% content_for :content do %>
      <%= yield %>
    <% end %>
    <%= render template: "layouts/application" %>
  </div>
</body>
</html>