<!DOCTYPE html>
<html>
  <head>
    <title>likely</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header>
  <div class="header-box clearfix">
    <div class="header-title"><%= link_to " Likely ", root_path %></div>
    <div class="header-search-box">
      <%= form_tag searches_path, {method: :get} do %>
        <%= select_tag :sel, options_for_select({"アーティスト": 1, "曲名": 2, "商品名": 3}, @sel) %>
        <%= text_field_tag :keyword, @keyword %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
    <% if request.path_info != 'users/sign_in' && request.path_info != 'users/sign_up' %>
      <% if user_signed_in? %>
        <nav class="header-nav">
            <ul>
                <li class="header-nav-list"><%= link_to " My Page ", mypages_path, class: "btn btn-info" %></li>
                <li class="header-nav-list"><%= link_to " ", carts_path, class: "glyphicon glyphicon-shopping-cart" %></li>
                <li class="header-nav-list"><%=link_to "logout",destroy_user_session_path,method: :delete %></li>
            </ul>
        </nav>
      <% else %>
        <nav class="header-nav">
          <ul>
            <li class="header-nav-list">
              <%=link_to "signup",new_user_registration_path  %>
            </li>
            <li class="header-nav-list">
              <%=link_to "login",new_user_session_path  %>
            </li>
          </ul>
        </nav>
      <% end %>
    <% end %>
  </div>
  </header>
  <div class="container">
    <% content_for :content do %>
      <%= yield %>
    <% end %>
    <%= render template: "layouts/application" %>
  </div>
<footer>
  <div class="footer-box">
    <div class="footer-text">
      <%= link_to "お問い合わせはこちら", new_contacts_path %>
    </div>
  </div>
</footer>
</body>
</html>